.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
     background-color: black;
    

}

img{
width: 300px;
height: 300px;
object-fit: contain;
}

.itemfeatured>img{
    width: 150px;
    height: 150px;
}
.itemfeatured{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: white;
    padding: 50px 50px;
    border: 1px solid black;
    width: 150px;
    height: 250px;
    margin-bottom: 75px;
}


.items{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
   

}

.price, .name{
    
    color: black;
}


.featureditems{
    color:white;
    background-color: black;
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 32px;
  }