.navbar{

    display: flex;
    justify-content: space-between;
    /* z-index: 3; */
    background-color: black;
    opacity: .75;
    padding: 25px 100px;
    position: sticky;
    top: 0;
}

.navbar>.left{
 display: flex;
 gap: 20px;
}

a{
    color: aliceblue;
}